<mat-dialog-content class="wrapper">
    <div class="modal-container">
        <mat-icon class="close-icon" aria-hidden="false" aria-label="Example home icon" (click)="close()">close</mat-icon>
        <div class="modal-content-container">
            <div class="img-container">
                <img src="assets/foto-event.png">
            </div>
            <h1 class="event-title">Título do evento</h1>
            <p class="event-description">Descrição do evento....</p>
            <div class="icon-container">
                <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
                <p>João da Silva</p>
            </div>
            <div class="icon-container">
                <mat-icon aria-hidden="false" aria-label="Example home icon">schedule</mat-icon>
                <p>11:00</p>
            </div>
            <div class="button-container">
                <button mat-raised-button color="primary">Inscreva-se</button>
            </div>
        </div>
    </div>
</mat-dialog-content>