<section class="wrapper">
    <div class="home-container">
        <div class="info-container">
            <div class="img-container">
                <img src="assets/logo-home-page.svg">
            </div>
            <div class="text-container">
                <div class="text-wrapper">
                    <h1 class="text-title">Aprenda do melhor jeito, ensinando!</h1>
                    <p class="text-subtitle">Crie e participe de eventos para contribuir na sua formação acadêmica.</p>
                </div>
                <div class="button-container">
                    <button mat-raised-button color="primary">Crie seu evento</button>
                </div>
            </div>
        </div>
        <div class="events-container">
            <div class="for-you-container">
                <h1 class="for-you-text-title">Recomendados para você</h1>
            </div>
            <div class="card-events-container">
                <app-card-event></app-card-event>
                <app-card-event></app-card-event>
                <app-card-event></app-card-event>
            </div>
        </div>
    </div>
</section>
