<section class="container">
    <div id="imagem-login">
        <img src="/assets/computador-estudante.jpg" alt="Computador e Estudante">
    </div>
    <div class="container-campos">
        <div id="">
            <h3>Bem vindo</h3>
            <h1>Faça login na sua conta</h1>
            
            <form class="">
                <mat-form-field class="" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                
                <mat-form-field class="" appearance="fill">
                    <mat-label>Senha</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </form>

        </div>
    </div>
</section>